* {
    box-sizing: border-box;
    margin: auto;
}

body {
    background-color: rgb(194, 167, 235);
    font-family: 'Inter', sans-serif;
    color: #293264;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#top--blob {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 200px;
    z-index: -1;
}

#bottom--blob {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 200px;
    z-index: -1;
}

h1, h2, h3 {
    font-family: "Karla", sans-serif;
}

.start--quiz {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
    color: white;
}

.btn {
    background-color: rgb(252, 155, 50);
    padding: 1rem;
    font-family: "Karla", sans-serif;
    color: white;
    border-color: white;
    border-width: 2px;
    border-style: outset;
    cursor: pointer;
    margin: 0px;
    margin-top: 2rem;
}

.start--btn:active {
    transform: translateY(3px);
    box-shadow: inset 0px 10px 10px 10px rgba(179, 88, 28, 0.2);
}

.question--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 0rem;
    max-width: 100%;

}

.question {
    margin-bottom: 2rem;
    text-align: center;
}

.answer--container {
    display: flex;
}

.multiple--choice{
    margin: .5rem 2rem .5rem 0rem;
    padding: .5rem 1rem;
    border: #293264 2px solid;
    border-radius: 20px;
    background-color: beige;
    line-height: 1.5rem;
    font-family: 'Inter', sans-serif;
    color: #293264;
    font-size: large;
}

.multiple--choice:active {
    background-color: #293264;
    color: white;
}

.selected {
    background-color: #293264;
    color: white;
  }
